#footer
    .footer01
        .container.clearfix
            ul.footerlink
                li
                    a(href='introduce') 关于我们
                li
                    a(href='customer') 业务介绍
                li
                    a(href='newslist') 媒体中心
                li
                    a(href='college') 清谷学院
                li
                    a(href='joblist') 招贤纳士
    .footer02
        .container.clearfix
            .copyright.pull-left
                span copyright © 2016 
                span 清谷科技控股集团有限公司 
                span 沪ICP备13234678号 
            .powered.pull-right
                a(href='#') Powered by 17sucai.com
    .imgModal